<%# <h1>Welcome to Echo Cal</h1> %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <%# <p class="lead">
        Manage your calendar with ease using Echo Cal
      </p> %>
      <div class="container">
        <h1>EchoCal:</h1>
        <h2>A Skill Schedule Manager</h2>
        <p class="description">Utilize expanding spaced repetition to maintain skill mastery while using less time and effort over time.    </p>
        <div class="input-section">
            <input type="text" id="skillInput" placeholder="Add skill">
            <input type="date" id="startDate">
            <button id="generateBtn">Generate</button>
        </div>
        <div id="skillList" class="skill-list">
            <!-- Skills will be added here dynamically -->
        </div>
    </div>
    </div>
  </div>
</div>
