<%# <h1>Welcome to Echo Cal</h1> %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <%# <p class="lead">
        Manage your calendar with ease using Echo Cal
      </p> %>
      <div class="container">
        <h1>EchoCal:</h1>
        <h2>A Skill Schedule Manager</h2>
        <p class="description">Utilize expanding spaced repetition to maintain skill mastery while using less time and effort over time.</p>
        <div class="input-section">
          <div class="form-group mb-3">
            <select id="subjectSelect" class="form-select">
              <option value="">Select a Subject (optional)</option>
              <%= current_user.subjects.map { |subject| content_tag(:option, subject.name, value: subject.id) }.join.html_safe %>
            </select>
            <div class="mt-2">
              <%= link_to "Create New Subject", new_subject_path, class: "btn btn-sm btn-outline-primary" %>
            </div>
          </div>
          <div class="form-group mb-3">
            <input type="text" id="skillInput" class="form-control" placeholder="Add skill">
          </div>
          <div class="form-group mb-3">
            <input type="date" id="startDate" class="form-control">
          </div>
          <button id="generateBtn" class="btn btn-primary">Generate</button>
        </div>
        <div id="skillList" class="skill-list mt-4">
            <!-- Skills will be added here dynamically -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :head do %>
  <style>
    .input-section {
      max-width: 400px;
      margin: 0 auto;
    }
    
    .skill-list {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
<% end %>
